@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

body {
  margin: 0;
  font-family: Roboto;
  color: white;
  background-image: url(../images/background.jpg);
}

#whole-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#navbar {
  background-color: #62825D;
  display: flex;
  align-items: center;
  opacity: 0.6;
  margin-bottom: auto;
}

#footer {
  margin-top: auto;
  background-color: #62825D;
  display: flex;
  justify-content: right;
  opacity: 0.7;
}

#footer a {
  font-size: 1.6rem;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 25px;
  text-decoration: none;
  color: white
}

#footer a:hover {
  color: #C2FFC7; 
  cursor: pointer;
}

#navbar a {
  font-size: 1.6rem;
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-decoration: none;
  color: white;
}

  
#navbar a:hover {
  color: #C2FFC7; 
  cursor: pointer;
}

.main-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 1rem;
  max-width: 600px;
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #62825D;
  box-shadow: 5px 5px 50px hsl(0, 0%, 60%);
}

.tomato {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.image-tomato {
  max-width: 350px;
  margin-bottom: 2rem;
}


.timer {
  position: absolute;
  top: 40%;
  left: 28%;
  font-size: 4rem;
}

h1 {
  font-size: 3rem;
  background-color: #6cb86a;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  margin-top: 40px;
}

.main-buttons {
  display: flex;
  gap: 16px;
}

.main {
  height: 35px;
  width: 200px;
  background-color: #6cb86a;
  border-radius: 50px;
  border: 0;
  color: white;
  font-size: 1.5rem;
}

.main:hover {
  background-color: #7fda7c;
  cursor: pointer;
}

.main:active {
  background-color: #62825D;
}

@media (max-width: 500px) {
  .main-buttons {
    flex-direction: column;
    align-content: center;
  }

  .main {
    width: 200px;
  }

  .main-page {
    max-width: 400px;
  }

  .image-tomato {
    max-width: 220px;
  }

  .timer {
    top: 35%;
    left: 20%;
    font-size: 3.5rem;
  }
}