@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

body {
  margin: 0;
  font-family: Roboto;
  color: white;
  background-image: url(../images/background.jpg);
}

#whole-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 1s ease;
  overflow-y: auto;
}

.page-flex-item {
  transition: transform 1s ease, opacity 1s ease;
}

#navbar,
#footer {
  background-color: #62825d;
  display: flex;
  opacity: 0.7;
}

#navbar {
  margin-bottom: auto;
}

#footer {
  margin-top: auto;
}

#footer a,
#navbar a,
#footer p {
  font-size: 1.6rem;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 25px;
  text-decoration: none;
  color: white;
  margin-left: 25px;
  text-align: center;
}

#footer p {
  margin-right: auto;
}

#footer a:hover,
#navbar a:hover {
  color: #c2ffc7;
  cursor: pointer;
}

#content {
  display: flex;
  justify-content: center;
}

.main-page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 1rem;
  max-width: 600px;
  border-radius: 50px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background-color: #62825d;
  box-shadow: 5px 5px 50px hsl(0, 0%, 60%);
  margin: 40px;
}

.tomato {
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.image-tomato {
  max-width: 350px;
  margin-bottom: 2rem;
}

.timer {
  position: absolute;
  top: 40%;
  left: 28%;
  font-size: 4rem;
}

h1 {
  font-size: 3rem;
  background-color: #6cb86a;
  padding: 10px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50px;
  margin-top: 40px;
  text-align: center;
}

#settings-heading {
  margin-bottom: 20px;
  font-size: 2rem;
}

.main-buttons {
  display: flex;
  gap: 16px;
}

.main {
  height: 35px;
  width: 200px;
  background-color: #6cb86a;
  border-radius: 50px;
  border: 0;
  color: white;
  font-size: 1.5rem;
}

.main:hover {
  background-color: #7fda7c;
  cursor: pointer;
}

.main:active {
  background-color: #62825d;
}

.settings {
  display: grid;
  grid-template-columns: 102px 60px;
  grid-template-rows: repeat(6, 1fr) 1.5fr;
  gap: 5px;
}

.settings * {
  grid-column-start: 1;
}

.settings button {
  height: 35px;
  width: 170px;
  background-color: #6cb86a;
  border-radius: 50px;
  border: 0;
  color: white;
  font-size: 1.5rem;
  grid-column: 2;
  margin-top: 30px;
  justify-self: stretch;
}

.settings label {
  font-size: 1.2rem;
  align-self: end;
  color: white;
  width: 180px;
  text-align: center;
}

.settings input {
  align-self: start;
  height: 2rem;
  border: 0;
  background-color: #6cb86a;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  width: 100px;
}

.settings button:hover {
  background-color: #7fda7c;
  cursor: pointer;
}

.settings button:active {
  background-color: #62825d;
}

#save-button {
  grid-column-start: 1;
  align-self: end;
}

#work-input,
#short-input,
#long-input {
  border-radius: 50px 0px 0px 50px;
}

#work-min,
#short-min,
#long-min {
  grid-column-start: 2;
  border-radius: 0px 50px 50px 0px;
  width: 60px;
}

.icon {
  height: 1.8rem;
}

.alertbox {
  align-self: center;
  margin-top: 40px;
  background-color: #62825d;
  max-width: 600px;
  border-radius: 50px;
  width: 496px;
}

.alert-placeholder {
  height: 0;
  opacity: 0;
  transition: height 1s ease, opacity 1s ease;
}

.alert-placeholder.active {
  height: auto;
  opacity: 1;
  transform: translateY(0);
}

.alertbox-inner {
  text-align: center;
  font-size: 2rem;
  flex-grow: 1;
  transition: flex-grow 1000ms linear;
}

@media (max-width: 500px) {
  .main-buttons {
    flex-direction: column;
    align-content: center;
  }

  .main {
    width: 200px;
  }

  .alertbox {
    max-width: 390px;
  }

  .main-page {
    max-width: 400px;
  }

  .image-tomato {
    max-width: 220px;
  }

  .timer {
    top: 35%;
    left: 20%;
    font-size: 3.5rem;
  }
}
